body {
    margin: 0;
    padding: 40px;
    background: #f5f7fb;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    margin: 0;
    color: #333;
}

.add-btn {
    background: #7c3aed;
    color: white;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: bold;
}

.add-btn:hover {
    background: #6d28d9;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

th {
    background: #7c3aed;
    color: white;
    padding: 15px;
    text-align: left;
}

td {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background: #f9f9f9;
}

.edit-btn {
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 8px;
}

.delete-btn {
    background: #dc2626;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.back-btn {
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    color: #7c3aed;
    font-weight: bold;
}
.search-form{
    display:flex;
    gap:10px;
    margin:20px 0;
}

.search-form input{

    flex:1;

    padding:10px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:15px;

}